[Unit]
Description=uWSGI service
After=syslog.target

[Service]
ExecStart=/home/ubuntu/s03p23d202/backend/venv/bin/uwsgi -i /home/ubuntu/s03p23d202/backend/sikdorang/.config/uwsgi/sikdorang.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target